@import "../../global.scss";

#LoginRegisterComponent {
    // background-color: $ethblack;
    // padding: 4% 2% 4% 2%;
    text-align: center;

    .loginButtons {
        // width: 660px;
        width: 90%;
        background-color: $ethpurple;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }
}
.loginpage {
    padding-top: 74px;
    background-color: $ethgray;
    height: 100vh;
    padding: 20%;

    #title {
        text-align: left;
        margin-right: 5%;
    }

    .loginPiecesContainer {
        margin: 0 10% 0 10%;
        display: flex;

        .loginPieces {
            display: inline-block;
            width: 50%;
            height: 100%;
        }
    }

}