#LoginRegisterComponent {
    background-color: white;
    padding: 4% 2% 4% 2%;
    text-align: center;

    .loginInputs {
        // width: 650px;
        width: 90%;
    }
    
    .loginButtons {
        // width: 660px;
        width: 90%;
    }
}
